<!-- home.component.html -->
<h1>Welcome to frontedPi</h1>

<nav>
  <a routerLink="/" routerLinkActive="active" class="me-3">Home</a> |
  <a routerLink="/categories" routerLinkActive="active" class="me-3">Manage Event Categories</a> |
  <a routerLink="/events" routerLinkActive="active" class="me-3">Manage Events</a> |
  <a routerLink="/user-events" routerLinkActive="active" class="me-3">User Events View</a> |
  <a routerLink="/event-map/1" routerLinkActive="active" class="btn btn-success">🗺️ Afficher la carte des événements physiques</a>
</nav>
