<div class="modal fade show d-block" style="background: rgba(0, 0, 0, 0.5);" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-header">
          <h5 class="modal-title">📅 Select Available Time Slots</h5>
          <button type="button" class="btn-close" (click)="cancel()"></button>
        </div>
  
        <div class="modal-body">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
  
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" (click)="submitSlots()">Send Slots</button>
        </div>
        
      </div>
    </div>
  </div>
  