<table class="table table-striped table-hover shadow-sm rounded">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Match Score</th>
      <th>View CV</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of jobApplications; let i = index">
      <td>{{ i + 1 }}</td> 
      <td>{{ application.fullName }}</td>
      <td>{{ application.email }}</td>
      <td>{{ application.status }}</td>
      <td [ngStyle]="{
            'background-color': getMatchScoreColor(application.matchPercentage),
            'color': application.matchPercentage < 50 ? 'white' : 'black',
            'font-weight': 'bold'
        }">
        {{ application.matchPercentage | number:'1.0-2' }}%
      </td>
    </tr>
  </tbody>
</table>
